.loadMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.loadMore__cart {
  display: flex;
  flex-wrap: wrap;
}

.loadMore__products {
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px rgba(90, 87, 87, 0.5);
}
